.widgetContainer {
  display: flex;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  margin: 10px;
}

.results {
  box-shadow: inset 0 4px 7px 1px #ffffff,
    inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14),
    0 10px 20px rgba(0, 21, 64, 0.05);
  padding: 1em;
  margin-top: 1em;
  transition: 0.5s;
}

.resultsContainer {
  height: 50vh;
  overflow: scroll;
}

.results:hover {
  box-shadow: inset 0 4px 7px 1px #ffffff,
    inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 0 20px rgba(0, 21, 64, 0.14),
    0 0 40px rgba(0, 0, 0, 0.2);
}

.results h4 {
  color: #1189ef;
}